{% load static %}
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-4 footer-info">
            <img src="{% static '/img/top.png' %}" alt="Volunteer">
            <p>A platform that enables unemployed teachers, undergraduates pursuing
              teaching as a profession and anyone with teaching personnel, to view how resources(teachers)
              are distributed in Tanzania and identify where help is needed most thus applying.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              University of Dar Es Salaam <br>
              Dar Es Salaam, Tanzania<br>
              <strong>Phone:</strong> +255 714 189 035<br>
              <strong>Email:</strong> info@volunteer.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          {% if username %}
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Statistics</h4>
            <p>
              <strong>Users:</strong> {{ users }}<br>
              <strong>Volunteers:</strong> {{ volunteers }}
            </p>
          </div>
          {% endif %}

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Volunteer</strong> <script>document.write(new Date().getFullYear());</script> All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

