    {% load static %}
    <!-- aim Section -->
    <section id="aim" class="section-with-bg">
        <div class="container wow fadeIn">
          <div class="section-header">
            <h2>Our Aim</h2>
            <p>What we thrive to achieve</p>
          </div>
          <div class="row" >
            <div class="col-lg-12">
              <div class="text-center">
                <p><strong>Annual Pupil to Teacher Ration  prediction</strong></p>
                <img src="{% static 'img/predict.png' %}" alt="prediction image">
                <p><strong><h2>{{ predict }}</h2></strong></p>
              </div>
            <p>
              Each year we focus on trying to bridge the gap between teachers employed and students enrolled in
                  Government schools. This is done through the people (unemployed teachers or undergraduates) who are
                  willing to volunteer, so that they are able to help the young minds get enough knowledge which they can
                  use it in life.
            </p>
            <p>
              Volunteering builds resilience and preparedness through concrete community action, enhancing knowledge
              and a sense of responsibility for one's community. Volunteering is a skill-builder in many different
              areas, and improves your employability, knowledge and experience.
            </p>
            </div>
          </div>
        </div>
      </section>