{% extends 'base_files/base.html' %}
{% block base_content %}
    {% include 'navigation/navigation_bar.html' %}

  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Comfortable TEACHERS<br>HAPPY STUDENTS</h1>
      <p class="mb-4 pb-0">Reduce unequal distribution between teachers and students in schools</p>
      <a href="#objective" class="objective-btn scrollto">Our Objective</a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      obj Section
    ============================-->
    <section id="objective">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Our Main Objective</h2>
            <p>To enable unemployed teachers, under graduates (pursuing education) to select desired places to go and volunteer to teach from different primary schools in Tanzania. According to recent data, there have been an increase in the number of students due to the policy from the government “Free education”, this has led to unbalanced workforce to the employed teacher (as they are unable to handle many students). Due to this, the ideal solution is to simply employ more teacher which is more of a policy (government) issue, thus a more ICT (Information Communication Technology) is needed to reduce unbalanced pupil to teachers’ ratio.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- obj end -->
    <section id="buy-tickets" class="section-with-bg wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Background Information</h2>
          <p>The problem status</p>
        </div>
      
      <div class="row">
        <div class="col-lg-12">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <p>
                Pupils should have enough resources and infrastructures to help them acquire quality education as 
is their basic right, however most of the primary schools in our country face the problem of 
shortage of teachers which make the pupils not to acquire the good education and make pupils 
incompetent when they finish their schools
              </p>
              <p>
                From the data from 2016 that showed the number of teachers as well as students in both primary 
school showed that, there was a total of 9,317,410 pupils in all primary schools and there was a 
total of 197,545 teachers in primary schools.
              </p>

              <p>
                Also apart from the PTR of 2016 (Pupil to Teacher Ratio) the standard PTR is 40:1, but in Tanzania 
the PTR is about 257:1, this is obtained by taking the average ratio of the highest, the lowest PTR 
in the country as well as the standard PTR.
              </p>

              <p>
                For example, according PTR report obtained back in 2016 it showed that in Kigoma, sokoine 
primary school had a PTR of 720:1 while in Ruvuma, Lunyere-asili primary school had a PTR of 
3:1. This clearly show the unbalanced (unequal distribution of resource i.e. teachers in the country) 
ratio between teachers and students
              </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

    <!--==========================
      mission Section
    ============================-->
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h2>Our Mission</h2>
          <p>What and Why we do this</p>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#what" role="tab" data-toggle="tab">What</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#why" role="tab" data-toggle="tab">Why</a>
          </li>
        </ul>

        <div class="tab-content row justify-content-center">

          <!-- what -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="what">

            <div class="row schedule-item">
              <div class="col-md-10">
                <h4>Data Collection</h4>
                <p>We collect goverment raw data annually obtained from <a href="https://www.tamisemi.go.tz">TAMISEMI</a>.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-10">
                <h4>Analyzing Data</h4>
                <p>We inspect and cleanse the collected data per system usage.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-10">
                <h4>Visualizing Data</h4>
                <p>We present analyzed data in visual arts form to enable users to speculate the school in-need.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-10">
                <h4>Accepting Volunteers</h4>
                <p>We accept the volunteers applying for in-need locations.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-10">
                <h4>Applicant Allocations</h4>
                <p>We allocate the volunteers to the nearby in-need locations after verifications.</p>
              </div>
            </div>

            
          </div>
          <!-- what -->

          <!-- why -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="why">
            
            <div class="row schedule-item">
              <div class="col-md-10">
                <h4>Unequal distribution of teachers</h4>
                <p>The greater the number of teachers in various subject helps to smoothen the learning activity.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-10">
                <h4>Poor Students Performance</h4>
                <p>When a school has many teachers it reduces then Pupil to Teacher Ratio as a teacher will be able to confront (handle) a fewer number of students leading to better performance.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-10">
                <h4>Inexperienced undegraduates</h4>
                <p>Normally, after graduation it’s not easy to get a job remotely thus volunteering to gain more experience in different parts of Tanzania.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-10">
                <h4>High Rate of Unemployement</h4>
                <p>Volunteering helps unemployed graduates, teacher keep themselves busy at the same time sharing knowledge to students.</p>
              </div>
            </div>

          </div>
          <!--why ends -->

        </div>

      </div>

    </section>
    <!-- mission end -->

    {% include 'aim.html' %}

    <!--==========================
      Sponsors Section
    ============================-->
    <section id="sponsors" class="section-with-bg wow fadeIn">

      <div class="container">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row no-gutters sponsors-wrap clearfix">
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="sponsor-logo">
              <img src="img/sponsors/un.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="sponsor-logo">
              <img src="img/sponsors/unesco.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="sponsor-logo">
              <img src="img/sponsors/tz_nembo.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="sponsor-logo">
              <img src="img/sponsors/udsm.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>
    <!-- sponsors end -->

    <!--==========================
      F.A.Q Section
    ============================-->
    <section id="faq" class="wow fadeIn">

      <div class="container">

        <div class="section-header">
          <h2>F.A.Q </h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
              <ul id="faq-list">

                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq1">Who is capable of applying? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq1" class="collapse" data-parent="#faq-list">
                    <p>
                      As long as you are a graduate with passion or profession in teaching, you are eligible to apply with luck we will allocate you.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq2" class="collapsed">What are the requirements <i class="fa fa-minus-circle"></i></a>
                  <div id="faq2" class="collapse" data-parent="#faq-list">
                    <p>
                      Our platform will ask you for the resume or Curriculum Vitae (CV) to store your information which will help us in validation. For a graduate we expect you to have your own details (certificate) on the day of reporting to the allocated school.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq3" class="collapsed">How long will it take until confirmation? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq3" class="collapse" data-parent="#faq-list">
                    <p>
                      It depends on the number of applicants and our help desk assistants, always it takes up to 3 - 5 week days to be verified.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq4" class="collapsed">How will I be allocated? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq4" class="collapse" data-parent="#faq-list">
                    <p>
                      Our platform will detect your location and allocate the nearest location if possible. In any cancellation or unsatisfaction you will contact our administrators.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq5" class="collapsed">Does it cover the whole world? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq5" class="collapse" data-parent="#faq-list">
                    <p>
                      Right now only graduates from Tanzania are allowed to apply, and will be allocated within the same country schools.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq6" class="collapsed">How will I be notified? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq6" class="collapse" data-parent="#faq-list">
                    <p>
                      Our platform will update your status to Approved in our system and we will send you an email with all your application details.
                    </p>
                  </div>
                </li>
      
              </ul>
          </div>
        </div>

      </div>

    </section>
    <!-- faq end -->


  </main>


 {% include 'footer/footer.html' %}

  {% endblock %}
